@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
}
li ul{
display: none;
list-style:none;
}
li ul li:hover{
color:#DC143C;
}
li:hover ul{
font-size: 30px;
display:block;
}
a{
text-decoration: none;
}

.l-section {
transform: skewY(-2deg);
}
section{
padding: 40px;
background-image: linear-gradient(45deg, #DC143C,#e44459 );
transform: skewY(2deg);
}
section h2{
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
color:white;
margin-bottom: 60px;
text-align: justify;
padding:40px;
}
#box{
display: block;
width: 60%;
margin: auto;
color:black;
padding: 10px;
text-align: justify;
background:white;
border-radius: 40px 0 40px 0;
margin-bottom: 20px;
text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}
#box p{
margin-bottom: 20px;
margin-left:40px;
margin-right:40px;
}

#box h3{
text-align: center;
}
#box img{
float: center;
padding: 10px;
border-radius: 10%;
animation-name: move;
animation-duration:1000ms;
animation-delay: 900ms;
}
#logo{
animation-name: move;
animation-duration:1000ms;
animation-delay: 250ms;
}

#rodape{
text-align: center;
margin-bottom: 10px;
padding: 40px;
}
#rodape p{
font-size:18px;
color: #363636;
padding: 20px 0px;
}
#zap{
text-decoration: none;
background: #363636;
border-radius: 10px;
color:white;
padding: 10px 14px;
border-radius: 40px 40px 0;
}
#zap:hover{
background: #363636;
opacity: 0.7;
}

#email{
color:white;
text-decoration: none;
background: #DC143C;
border-radius: 10px;
padding: 10px 14px;
border-radius: 40px 40px 40px 0px ;
}
#email:hover{
background: #DC143C;
opacity: 0.8;
}
@media only screen and (max-width:768px){
section h2{
font-size: 20pt;
}
#box{
width: 100%;
}
section h2{
padding:0px;
}
}
@media only screen and (max-width: 600px) {
section{
padding: 20px;
}
section h2{
font-size:20px;
text-align:center;
}
#box{
width: 100%;
}
#box p{
text-align:center;
font-size:15px ;
margin-left:10px;
margin-right:10px;
}
#rodape p{
font-size:15px;
}
}
@keyframes move{
from {
opacity: 0;
transform: translateX(-20%);
}
to {
opacity: 1;
transform: translateX(0%);
}
}