@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body{
    min-height:100vh;
    min-width: 100vw;
}
.nav-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    #header{
      background: #2eadda;
      text-align: center;
      padding-top: 40px;
    }
    #header h1, h2{
      font-weight: 300;
    }
main{
    background: #2eadda;
    min-height:100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
main h2{
    font-weight: 300;
    margin-bottom:2rem;
    position: relative;
  }
.container{
    background-color: white;
    max-width: 350px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
textarea {
  width: 100%;
		padding: 40px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid;
		border-radius: 4px;
		box-sizing: border-box;
}
form{
    display: flex;
    flex-direction: column;
  }
  
  .input-field{
    position: relative;
  }
  .input-field:first-child{
    margin-bottom: 1.5rem;
  }

  form .input-field input{
    outline: none;
    font-size: 0.9rem;
    width: 100%;
    color: black;
    padding: 10px;
  }
  .input-field input::placeholder{
    color: rgba(0, 0, 0, 0.8);
    margin-right: 10px;
  
  }
  form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    background: white;
    cursor: pointer;
    color:black;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
    border: 1px solid black;
    
  }
  form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: #2eadda;
    color:white;
    outline: none;
    border: none;
  }
  footer{
    font-size: 1rem;
    background:#ddd;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    min-height: 50px;
    padding: 40px 40px 0px 40px;
    }
    footer a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    }
    footer a:hover{
    color: rgba(0, 0, 0, 0.9);
    }
    @media only screen and (max-width:768px) {
      footer p{
        font-size: 0.8rem;
        }
    }    

